@tailwind base;
@tailwind components;
@tailwind utilities;

._Navbar {
  padding: 25px;
  background-color: #2c3e50;
}

._Navbar .links {
  color: white;
  font-family: sans-serif;
  margin: 5px;
}

.links:hover {
  color: lightgray;
}

._Header {
  background-color: #314558;
  padding: 150px;
  text-align: center;
}

._Header p {
  color: whitesmoke;
  font-family: sans-serif;
}

._Header h1 {
  color: white;
  font-family: sans-serif;
  font-size: 35px;
  font-weight: bold;
}

._hero-img {
  padding: 175px;
  background-image: url("./assets/main_logo.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

._hero-img h3 {
  color: white;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: bold;
}
